.login {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &__form {
    display: table-cell;
    vertical-align: middle;
  }
  &__footer{
    display: table-row;
  }
 
  &__bg {
    
    background-image:  linear-gradient(to bottom, darkblue 100%,transparent 80%,);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 80%;
  }
}
